body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(resources/Homebackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headline {
  font-size: 3em;
  font-weight: bold;
  padding: 20px;
}

/* Groups.js */
.groups-container {
  padding-top: 20px;
}

.left-sidebar {
  border-right: 1px solid #ccc;
}

.main-content {
  border-right: 1px solid #ccc;
}

.right-sidebar {
  padding-top: 20px;
}

.recent-expenses {
  margin-top: 20px;
}

.whiteBackground {
  background-color: white;
}

.btn, .btn-primary {
  background-color: #042B2F;
}