@import url(base.css);

h1 {
    font-size: 200%;
    margin: 8px 0px;
}

/* Constrain the page to the viewport */
html, body{
    height: 100vh;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: minmax(192px,256px) auto;
    grid-template-rows: minmax(64px,128px) auto minmax(64px,128px);
    grid-template-areas:
    "h h"
    "n m"
    "f f";
}

/* Center the nav's header and list */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* navigation buttons have full width */
nav button {
    width: 100%;
}

/* Remove unnecessary space and bullets from the lists */
ul {
    padding: 0px;
    margin: 16px;
    list-style-type: none;
}

/* Task 2.1. Lay out the childs of the 'body' using Grid Template Areas. */

header {
    grid-area: h;
}

main {
    grid-area: m;
    overflow-y: auto;
}
nav {
    grid-area: n;
}
footer {
    grid-area: f;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

footer > ul {
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

img {
    border-radius: 12px;
}

article {
    background-color: lightgray;
    border-radius: 16px;
    padding: 16px;
    width: 384px;
    margin: 8px;
}

a {
    color: beige;
}

span {
    margin-right: 4px;
}

.genre {
    padding: 4px 8px;
    border: solid black 1px;
    border-radius: 6px;
    background-color: darkgray;
    font-weight: bold;
}
